

#cta_2x {
	left:550px;
	top:38px;
	width:160px;
	height:24px;
	background-image:url(../img/cta_2x.png);
	background-size:160px 24px;
}

#ef1_2x {
	left:20px;
	top:25px;
	width:446px;
	height:30px;
	background-image:url(../img/ef1_2x.png);
	background-size:446px 30px;
}

#ef_legal_2x {
	left:21px;
	top:74px;
	width:471px;
	height:7px;
	background-image:url(../img/ef_legal_2x.png);
	background-size:471px 7px;
}

#logo_2x {
	left:638px;
	top:11px;
	width:73px;
	height:19px;
	background-image:url(../img/logo_2x.png);
	background-size:73px 19px;
}
