body { margin:0px 0px; padding:0px; } 

* { 
	box-sizing: Border-box;
	-webkit-backface-visibility: hidden;
  	-webkit-perspective: 1000px; 
	-ms-overflow-style: hidden;
}  

#container{
	background-color:white;
	position:absolute;
	overflow:hidden;
	border: 1px solid black;
} 

.sprite {
	position:absolute;
	background-repeat:no-repeat;
}

.tackright {
	background-position: right;
	overflow: hidden;
}

.sheen {
	opacity: .8;
	position: relative;
	height: 100%;
	background: rgb(0, 0, 0);
	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
}

#logo_2x {
	left:323px;
	top:39px;
	width:138px;
	height:35px;
	background-image:url(../img/logo_2x.png);
	background-size:138px 35px;
}

#copy1_2x {
	left:42px;
	top:226px;
	width:414px;
	height:102px;
	background-image:url(../img/copy1_2x.png);
	background-size:414px 102px;
}

#copy2_2x {
	left:98px;
	top:222px;
	width:301px;
	height:91px;
	background-image:url(../img/copy2_2x.png);
	background-size:301px 91px;
}

#copy3_2x {
	left:195px;
	top:226px;
	width:110px;
	height:37px;
	background-image:url(../img/copy3_2x.png);
	background-size:110px 37px;
}

#copy4_2x {
	left:82px;
	top:226px;
	width:337px;
	height:47px;
	background-image:url(../img/copy4_2x.png);
	background-size:337px 47px;
}

#cta_2x {
	left:128px;
	top:354px;
	width:244px;
	height:61px;
	background-image:url(../img/cta_2x.png);
	background-size:244px 61px;
}

#ef1_2x {
	left:116px;
	top:176px;
	width:128px;
	height:37px;
	background-image:url(../img/ef1_2x.png);
	background-size:128px 37px;
}

#ef2_2x {
	left:265px;
	top:174px;
	width:119px;
	height:40px;
	background-image:url(../img/ef2_2x.png);
	background-size:119px 40px;
}

#ef3_2x {
	left:79px;
	top:228px;
	width:343px;
	height:47px;
	background-image:url(../img/ef3_2x.png);
	background-size:343px 47px;
}

#ef4_2x {
	left:118px;
	top:225px;
	width:264px;
	height:40px;
	background-image:url(../img/ef4_2x.png);
	background-size:264px 40px;
}

#ef_legal_2x {
	left:43px;
	top:453px;
	width:412px;
	height:28px;
	background-image:url(../img/ef_legal_2x.png);
	background-size:412px 28px;
}

#legal_2x {
	left:43px;
	top:453px;
	width:412px;
	height:28px;
	background-image:url(../img/legal_2x.png);
	background-size:412px 28px;
}

#bg1 {
	left:0px;
	top:0px;
	width:500px;
	height:500px;
	background-image:url(../img/bg1.jpg);
}

#bg2 {
	left:0px;
	top:0px;
	width:500px;
	height:500px;
	background-image:url(../img/bg2.jpg);
}

#bg3 {
	left:0px;
	top:0px;
	width:500px;
	height:500px;
	background-image:url(../img/bg3.jpg);
}

#bg4 {
	left:0px;
	top:0px;
	width:500px;
	height:500px;
	background-image:url(../img/bg4.jpg);
}