

#bg1 {
	left:0px;
	top:0px;
	width:500px;
	height:500px;
	background-image:url(../img/bg1.jpg);
}

#bg2 {
	left:0px;
	top:0px;
	width:500px;
	height:500px;
	background-image:url(../img/bg2.jpg);
}

#bg3 {
	left:0px;
	top:0px;
	width:500px;
	height:500px;
	background-image:url(../img/bg3.jpg);
}

#bg4 {
	left:0px;
	top:0px;
	width:500px;
	height:500px;
	background-image:url(../img/bg4.jpg);
}
