body { margin:0px 0px; padding:0px; } 

* { 
	box-sizing: Border-box;
	-webkit-backface-visibility: hidden;
  	-webkit-perspective: 1000px; 
	-ms-overflow-style: hidden;
}  

#container{
	background-color:white;
	position:absolute;
	overflow:hidden;
	border: 1px solid black;
} 

.sprite {
	position:absolute;
	background-repeat:no-repeat;
}

.tackright {
	background-position: right;
	overflow: hidden;
}

.sheen {
	opacity: .8;
	position: relative;
	height: 100%;
	background: rgb(0, 0, 0);
	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
}

#logo_2x {
	left:191px;
	top:21px;
	width:82px;
	height:21px;
	background-image:url(../img/logo_2x.png);
	background-size:82px 21px;
}

#copy1_2x {
	left:86px;
	top:103px;
	width:141px;
	height:31px;
	background-image:url(../img/copy1_2x.png);
	background-size:141px 31px;
}

#copy2_2x {
	left:110px;
	top:113px;
	width:81px;
	height:24px;
	background-image:url(../img/copy2_2x.png);
	background-size:81px 24px;
}

#copy3_2x {
	left:112px;
	top:111px;
	width:75px;
	height:26px;
	background-image:url(../img/copy3_2x.png);
	background-size:75px 26px;
}

#copy4_2x {
	left:54px;
	top:82px;
	width:192px;
	height:86px;
	background-image:url(../img/copy4_2x.png);
	background-size:192px 86px;
}

#cta_2x {
	left:72px;
	top:161px;
	width:155px;
	height:38px;
	background-image:url(../img/cta_2x.png);
	background-size:155px 38px;
}

#ef1_2x {
	left:78px;
	top:79px;
	width:69px;
	height:20px;
	background-image:url(../img/ef1_2x.png);
	background-size:69px 20px;
}

#ef2_2x {
	left:158px;
	top:77px;
	width:64px;
	height:22px;
	background-image:url(../img/ef2_2x.png);
	background-size:64px 22px;
}

#ef3_2x {
	left:79px;
	top:105px;
	width:143px;
	height:22px;
	background-image:url(../img/ef3_2x.png);
	background-size:143px 22px;
}

#ef4_2x {
	left:118px;
	top:225px;
	width:264px;
	height:40px;
	background-image:url(../img/ef4_2x.png);
	background-size:264px 40px;
}

#ef_legal_2x {
	left:40px;
	top:221px;
	width:220px;
	height:16px;
	background-image:url(../img/ef_legal_2x.png);
	background-size:220px 16px;
}

#legal_2x {
	left:39px;
	top:221px;
	width:224px;
	height:16px;
	background-image:url(../img/legal_2x.png);
	background-size:224px 16px;
}

#bg1 {
	left:0px;
	top:0px;
	width:300px;
	height:250px;
	background-image:url(../img/bg1.jpg);
}

#bg2 {
	left:0px;
	top:0px;
	width:300px;
	height:250px;
	background-image:url(../img/bg2.jpg);
}

#bg3 {
	left:0px;
	top:0px;
	width:300px;
	height:250px;
	background-image:url(../img/bg3.jpg);
}

#bg4 {
	left:0px;
	top:0px;
	width:300px;
	height:250px;
	background-image:url(../img/bg4.jpg);
}

#bg2_ {
	left:0px;
	top:0px;
	width:500px;
	height:500px;
	background-image:url(../img/bg2_.jpg);
}