body { margin:0px 0px; padding:0px; } 

* { 
	box-sizing: Border-box;
	-webkit-backface-visibility: hidden;
  	-webkit-perspective: 1000px; 
	-ms-overflow-style: hidden;
}  

#container{
	background-color:white;
	position:absolute;
	overflow:hidden;
	border: 1px solid black;
} 

.sprite {
	position:absolute;
	background-repeat:no-repeat;
}

.tackright {
	background-position: right;
	overflow: hidden;
}

.sheen {
	opacity: .8;
	position: relative;
	height: 100%;
	background: rgb(0, 0, 0);
	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
}

.bg {
	scale: 1.01;
}

#logo_2x {
	left:191px;
	top:21px;
	width:82px;
	height:21px;
	background-image:url(../img/logo_2x.png);
	background-size:82px 21px;
}

#copy1_2x {
	left:15px;
	top:288px;
	width:84px;
	height:25px;
	background-image:url(../img/copy1_2x.png);
	background-size:84px 25px;
}

#copy2_2x {
	left:16px;
	top:287px;
	width:78px;
	height:27px;
	background-image:url(../img/copy2_2x.png);
	background-size:78px 27px;
}

#copy3_2x {
	left:195px;
	top:226px;
	width:110px;
	height:37px;
	background-image:url(../img/copy3_2x.png);
	background-size:110px 37px;
}

#copy4_2x {
	left:82px;
	top:226px;
	width:337px;
	height:47px;
	background-image:url(../img/copy4_2x.png);
	background-size:337px 47px;
}

#cta_2x {
	left:15px;
	top:410px;
	width:117px;
	height:47px;
	background-image:url(../img/cta_2x.png);
	background-size:117px 47px;
}

#ef1_2x {
	left:14px;
	top:231px;
	width:80px;
	height:83px;
	background-image:url(../img/ef1_2x.png);
	background-size:80px 83px;
}

#ef2_2x {
	left:15px;
	top:202px;
	width:84px;
	height:25px;
	background-image:url(../img/ef2_2x.png);
	background-size:84px 25px;
}

#ef3_2x {
	left:16px;
	top:229px;
	width:78px;
	height:27px;
	background-image:url(../img/ef3_2x.png);
	background-size:78px 27px;
}

#ef4_2x {
	left:15px;
	top:258px;
	width:91px;
	height:56px;
	background-image:url(../img/ef4_2x.png);
	background-size:91px 56px;
}

#ef_legal_2x {
	left:16px;
	top:555px;
	width:135px;
	height:36px;
	background-image:url(../img/ef_legal_2x.png);
	background-size:135px 36px;
}

#legal_2x {
	left:16px;
	top:555px;
	width:135px;
	height:36px;
	background-image:url(../img/legal_2x.png);
	background-size:135px 36px;
}

#bg1 {
	left:0px;
	top:0px;
	width:160px;
	height:600px;
	background-image:url(../img/bg1.jpg);
}

#bg2 {
	left:0px;
	top:0px;
	width:160px;
	height:600px;
	background-image:url(../img/bg2.jpg);
}

#bg3 {
	left:0px;
	top:0px;
	width:500px;
	height:500px;
	background-image:url(../img/bg3.jpg);
}

#bg4 {
	left:0px;
	top:0px;
	width:500px;
	height:500px;
	background-image:url(../img/bg4.jpg);
}